*{
  margin: 0;
  padding: 0;
}
.menu ul  {
  /*padding: 0px 45%;
  margin: 0px 45%;*/
  margin-left: 45%;
  margin-top: 5%;
  list-style-type:none;
  background-color:#EEE9E9;
  float:left;
}
#linha li{
  padding-left: 9px;
  position:relative;
  float:left;
  border-right:50px color: inherit ;
}

#home_text{
  text-decoration-color: #FF69B4;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
